<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Yunxiao Song</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/full-width-pics.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-sm bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Yunxiao</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#me">Me
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects & Publication & Papers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cg">Whisky reviewer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#photo"> Traveler </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header - set the background image for the header in the line below -->
   <header class="py-5 bg-image-full" style="background-image: url('/static/images/bg_6.jpg');">
       <a name="me"></a>
   </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h3>Yunxiao Song 宋云潇</h3>
        <p class="lead">Master of Computer Science, UIUC, Class of 2022</p>
      <p class="lead">Bachelor of Science Computer Science, NYU Shanghai, Class of 2020</p>
        <p>This is my personal website which I decided to build for long long time. 
            Finally I build one (looks poor though). I put some of my intersting works on the website, 
            please enjoy them. Because of the global pandemics, I am unfortunately not going to UIUC this year, 
            so if there are opportunities that I may participate in and contribute towards (Here is my <a href="static/files/Resume.pdf" download> 
                Resume</a>), feel free to contact me through my email and phone, better call song!
            <br><br>ys2674@nyu.edu <br>yunxiao.song@hotmail.com<br>Chinese: +86 1861-624-6696<br>USA: +1 (646)-479-0001</p>
    </div>
      <br>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('/static/images/bg_8.jpg');">
      <a name="projects"></a>
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </section>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
        <h4 >My Projects & Publications & Reports</h4>
        <br>
        <p class="lead">2022 GeM Pooling and Additive Angular Margin Loss on Image Classifying the Whales and the Dolphins<a href="static/files/Dolphins.pdf"> Report </a></p>
        <p class="lead">2022 The HM-ZL formula: a machine learning-based calculation formula for highly myopic eyes<a href="http://hm-zlf.com/"> Application </a></p>
        <p class="lead">2021 Privacy Preserving Training and Evaluation with Homomorphic Encryption<a href="static/files/Privacy_Preserving_Training_and_Evaluation_with_Homomorphic_Encryption-A_Case_Study_on_Machine_Learning_Models.pdf"> Report </a><a href="static/files/Privacy_Preserving_Training_and_Evaluation_with_Homomorphism.zip"> Code Zip </a></p>
        <p class="lead">2021 Visual Acuity Prediction of Highly Myopic Eyes After Cataract Surgery<a href="https://pubmed.ncbi.nlm.nih.gov/34124042/"> Publication </a></p>
        <p class="lead">2021 Knowledge Driven Recommender Systems: A Case Study on Movielens Dataset<a href="static/files/recommender.pdf"> Report </a></p>
        <p class="lead">2020 Accuracy Improvement of IOL Power Prediction for Highly Myopic Eyes With Machine Learning-Based Calculator<a href="https://www.frontiersin.org/articles/10.3389/fmed.2020.592663/full"> Publication </a></p>
        <p class="lead">2020 ML Collaboration with HSBC, Customer Retention Prediction<a href="static/files/HSBC_customer_retention_research.pdf"> Report in PDF </a></p>
        <p class="lead">2019 ML& Business, Finance: Pool Investment Vehicle with ML<a href="static/files/Pool_Investment_Vehicle.pdf" download> PDF</a></p>
        <p class="lead">2019 NLP: word2vec& textRank English Extractive Summarizer<a href="static/files/TextRank_Based_Extractive_English_Summarizer.pdf" download> PDF</a> , <a href="/summarizer"> Demo Website</a></p>
        <p class="lead">2019 Virtual Reality Sandbox Maze Game<a href="/maze"> Website </a></p>
        <p class="lead">2019 Fun Ball Clock: Ray trace shaders<a href="/silverball"> Website </a></p>
        <p class="lead">2018 Buddhism: Preservation of Culture – The Fork Between Buddhism and Chinese Patriotism<a href="static/files/Preservation of Culture – The Fork Between Buddhism and Chinese Patriotism.pdf" download> PDF</a></p>
        <p class="lead">2018 Chinese Literature: Struggles& Failures of Wang Xifeng(王熙凤)<a href="static/files/Failures_and_Struggles_of_Wang_Xifeng.pdf" download> PDF (Chinese)</a></p>
        <p class="lead">2017 An interactive keyboard typing p5js game <a href="https://youtu.be/pli8AZ3UlR8"> Demo Video </a></p>
    </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('/static/images/20220806223913.jpg');">
      <a name="cg"></a>
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </section>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h4>Yes, I am also active on those social media as a content creator (Collect-reviewer for rare spirits & liqours) with my own online shop! </h4>
        <br>
        <p class="lead"> <b>小红书 Xiaohongshu</b> <br>Owner of <i>"业余威士忌酒徒(Whisky Dude)"</i><a href="https://www.xiaohongshu.com/user/profile/5b2c8a7be8ac2b15f53a5e75"> Visit my account </a></p>
        <p class="lead"> <b>淘宝 Taobao</b> <br>Owner of <i>"Romy Fine Wines & Spirits Shop"</i> <a href="https://world.taobao.com/dianpu/282545810.htm"> Visit my shop </a></p>
        <p class="lead"> <b>威士忌数据网 Whiskybase</b> <br>Owner of <i>"Drunk Dude"</i> <a href="https://www.whiskybase.com/profile/drunkdude"> Visit my whisky reviews </a></p>
        <p class="lead"> <b>微信公众号 Wechat Open Platform</b> <br>Owner of <i>"威士忌酒徒酒评"</i><a href="https://mp.weixin.qq.com/s/RbniUtQQrmKuDSlCXu96Wg"> Read one of my hit article</a></p>
        <p class="lead"> <b>微信公众号 Wechat Open Platform</b> <br>Writer for <i>"阅后即饮 AngeShare"</i><a href="weixin://resourceid/blank"> Read one of my article</a></p>
        <p class="lead"> <b>知乎 Zhihu</b> <br>Owner of <i>"Drunk Dude"</i> <a href="/https://www.zhihu.com/people/song-yun-xiao-8/posts"> Read my posts </a></p>
    </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('/static/images/animals.jpg');">
      <a name="photo"></a>
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </section>

  <style>
* {
  box-sizing: border-box;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
</style>

  <!-- Content section -->
  <section class="py-5">
     <!-- Third Container (Grid) -->
    <div class="container-fluid bg-3 text-center">
        <h3 class="margin"> During the covid and my deferred year, I went to those places</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <p>Peru</p>
                <img src="static/images/peru.jpg" class="img-responsive margin zoom" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Costa Rica</p>
                <img src="static/images/costarica.jpg" class="img-responsive margin zoom" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Ecuador</p>
                <img src="static/images/ecuadour.jpg" class="img-responsive margin zoom" style="width:100%" alt="Image">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p>Columbia</p>
                <img src="static/images/columbia.jpg" class="img-responsive margin zoom" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Mexico</p>
                <img src="static/images/mexico.jpg" class="img-responsive margin zoom" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Chile</p>
                <img src="static/images/chile.jpg" class="img-responsive margin zoom" style="width:100%" alt="Image">
            </div>
        </div>
  </section>



  <!-- Footer -->
  <hr>
  <footer class="py-5 bg-lights">
    <div class="container">
      <p class="m-0 text-center text-grey">Copyright &copy; Yunxiao Song 2019-2023</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>